<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="appName" value="train-service"/>
    <include resource="logback-base.xml"/>

    <logger name="com.ticket.train.service.impl" level="DEBUG"/>
    <logger name="com.ticket.train.controller" level="DEBUG"/>
    <logger name="com.ticket.mapper" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_FILE_JSON"/>
    </root>
</configuration>
